@font-face {
  font-family: Weeding;
  src: url(./fonts/Distant_Stroke_Medium.otf);
}
@font-face {
  font-family: OpenSansCondensed-Bold;
  src: url(./fonts/OpenSansCondensed-Bold.ttf);
}
@font-face {
  font-family: OpenSansCondensed-Light;
  src: url(./fonts/OpenSansCondensed-Light.ttf);
}

body{
  background-color: #4169e1;
  color: #ddd;
}

.App {
  text-align: center;
  font-family: Weeding;
}

.App-logo {
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 6.5em;
  margin-top: 0px;
  font-weight: normal;
}

.App-intro {
  font-size: 70px;
  margin-top: 80px;
}